* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Helvetica; 
}

.container {
    width:1000px;
    margin: 0 auto;
}

p {
    margin-top:20px;
}

.domanda {
    color:#3c4043;
    margin-top:25px;
}